body{
    font-family: 'Roboto', sans-serif;
    color: #4b6b44;
	margin: 0;
	background-color: #E1A3FF;

}

h1{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
}

h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin:0;
	margin-top: 10px;
	padding: 10px;

}

.button{
    color:#ffffff;
    color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #8B73FF;
	font-size: .9em;
	border-radius: 7px;
}

.button-contato{
    color:  #E86AA7;
	text-decoration: none;
	padding: 10px 30px;
	background-color:#ffffff;
	font-size: .9em;
	border-radius: 7px;

}

nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #E1A3FF;
}

nav > a {
	text-decoration: none;
	color: #f1f1f1;
	font-weight: bold;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
}


nav ul{
	
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	list-style: none;
	
}

nav ul li{
	text-align: center;
	width: 100%;
	padding: 1%;
	list-style: none;	
	
}

nav ul li a{ 
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #f1f1f1;
}

nav ul :hover { 
    background-color: #8B73FF;
}

header p{
	margin-bottom: 2em;
}

/* Sobre */
#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px 20px;
	background-color: #E1A3FF;
	color: #f1f1f1;
}

#sobre .botao{
	background-color: #f1f1f1;
	color: #4d4d4d;
}

#sobre p{
	margin-bottom: 2.5em;
	max-width: 1000px;
	font-size: 2em;
	color:#8B73FF;
}

/* Adoções */
.adocoes{
	margin: 30px;
}

.adocoes > p{
	padding: 10px;
}

.dogs{
	margin: 30px;
	display: flex;
}

.color p{
	text-align: center;
}

button{
	background-color: #8B73FF;
	color: #fff;
	padding:10px;
	font-size:1em;
	margin-left: 120px;
}

